@page
@using Microsoft.CodeAnalysis.CSharp
@using homeMonitor.Models
@model IndexModel
@{
    ViewData["Title"] = "Inicio";
}

<div class="row">

    <div class="col-md-3">
        @{
            var devices = Model.MonitorService.GetBluetoothRgbLights();

            foreach (var device in devices)
            {
                <div class="row">
                    <div class="dropdown">
                        <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <i class="far fa-lightbulb"></i> @device.Name
                        </button>
                        <div class="dropdown-menu dropdown-rgb" data-deviceid="@device.RowIndex" aria-labelledby="dropdownMenuButton">
                            <a class="dropdown-item" href="#" data-color="00000000"><i class="fas fa-power-off"></i> Apagar / Off</a>
                            <a class="dropdown-item" href="#" data-color="ff0000ff" style="background-color: red; color: white">Rojo</a>
                            <a class="dropdown-item" href="#" data-color="000000ff" style="background-color: blue; color: white">Azul</a>
                            <a class="dropdown-item" href="#" data-color="ffffffff" style="background-color: white">Blanco</a>
                            <a class="dropdown-item" href="#" data-color="990099ff" style="background-color: purple; color: white">Purpura</a>
                            <a class="dropdown-item" href="#" data-color="ffff00ff" style="background-color: yellow; color: black">Amarillo</a>
                        </div>
                    </div>
                </div>
            }
        }
    </div>
    <div class="col-md-9">
        <div class="row">
            <div id="right-top-pane" class="col-md-12"><i class="far fa-home"></i> Home Monitor - by Daniel Carlozzi</div>
        </div>
        <div class="row">
            <div id="right-mid-pane-1" class="col-md-6">test</div>
            <div id="right-mid-pane-2" class="col-md-3">
                <div class="rounded" style="font-size: 96px;" id="temp">...</div>
                Temperatura Interior (<span id="zoneTemp">...</span>)
            </div>
            <div id="right-mid-pane-3" class="col-md-3">
                <div class="rounded" style="font-size: 96px;" id="humi">...</div>
                Humedad Interior (<span id="zoneHumi">...</span>)
            </div>
        </div>
        <div class="row">
            <div id="right-bottom-pane-1" class="col-md-6">
                <video src="rtsp://elmokono.ignorelist.com:5541/2">
                    Your browser does not support the VIDEO tag and/or RTP streams.
                </video>
            </div>
            <div id="right-bottom-pane-2" class="col-md-6">
                <video src="rtsp://elmokono.ignorelist.com:5542/2">
                    Your browser does not support the VIDEO tag and/or RTP streams.
                </video>
            </div>
        </div>
    </div>
</div>

@section Scripts
{
    <script type="text/javascript">

        function getMetric() {
            $.ajax({
                url: "/api/Metrics",
                success: function (data) {
                    $('#temp').text(Math.round(data.tempValue) + "°");
                    $('#humi').text(Math.round(data.humiValue) + "%");
                    $('#zoneTemp').text(Math.round(data.tempZoneValue) + "°");
                    $('#zoneHumi').text(Math.round(data.humiZoneValue) + "%");
                }
            });
        }

        function setColor(deviceId, color) {
            $.ajax({
                type: "POST",
                url: "/api/Devices/setColor",
                dataType: 'json',
                contentType: 'application/json; charset=utf-8',
                data: JSON.stringify({ DeviceId: deviceId, Color: color })
            });
        }

        $(document).ready(function () {
            setInterval(function () { getMetric(); }, 10000);

            $('a.dropdown-item').click(function () {
                setColor($(this).parent().data("deviceid"), $(this).data("color"));
            });

        });

    </script>
}
