@page
@model IndexModel
@{
    ViewData["Title"] = "Inicio";
}

<div class="row">

    <div class="col-md-3">
        @{
            var devices = Model.MonitorService.GetBluetoothRgbLights();

            foreach (var device in devices)
            {
                <div class="row">
                    <div class="dropdown">
                        <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <i class="far fa-lightbulb"></i> @device.Name
                        </button>
                        <div class="dropdown-menu dropdown-rgb" data-address="@device.Address" data-handle="@device.Handle" aria-labelledby="dropdownMenuButton">
                            <a class="dropdown-item" href="#" data-color="5600000000f0aa"><i class="fas fa-power-off"></i> Apagar / Off</a>
                            <a class="dropdown-item" href="#" data-color="56ff0000fff0aa" style="background-color: red; color: white">Rojo</a>
                            <a class="dropdown-item" href="#" data-color="56000000fff0aa" style="background-color: blue; color: white">Azul</a>
                            <a class="dropdown-item" href="#" data-color="56fffffffff0aa" style="background-color: white">Blanco</a>
                            <a class="dropdown-item" href="#" data-color="56990099fff0aa" style="background-color: purple; color: white">Purpura</a>
                            <a class="dropdown-item" href="#" data-color="56ffff00fff0aa" style="background-color: yellow; color: black">Amarillo</a>
                        </div>
                    </div>
                </div>
            }
        }
    </div>
    <div class="col-md-9">
        <div class="row">
            <div id="right-top-pane" class="col-md-12"><i class="far fa-home"></i> Home Monitor - by Daniel Carlozzi</div>
        </div>
        <div class="row">
            <div id="right-mid-pane-1" class="col-md-6">test</div>
            <div id="right-mid-pane-2" class="col-md-3">
                <div class="rounded" style="font-size: 96px;"><i class="far fa-temperature-high"></i> <span id="temp"></span></div>
                Temperatura Exterior (<span id="zoneTemp">...</span>)
            </div>
            <div id="right-mid-pane-3" class="col-md-3">
                <div class="rounded" style="font-size: 96px;"><i class="far fa-tint"></i> <span id="humi"></span></div>
                Humedad Exterior (<span id="zoneHumi">...</span>)
            </div>
        </div>
        <div class="row">
            <div id="right-bottom-pane-1" class="col-md-6">
                <video src="rtsp://elmokono.ignorelist.com:5541/2">
                    Your browser does not support the VIDEO tag and/or RTP streams.
                </video>
            </div>
            <div id="right-bottom-pane-2" class="col-md-6">
                <video src="rtsp://elmokono.ignorelist.com:5542/2">
                    Your browser does not support the VIDEO tag and/or RTP streams.
                </video>
            </div>
        </div>
    </div>
</div>

@section Scripts
{
    <script type="text/javascript">

        function getMetric() {
            $.ajax({
                url: "/api/Metrics",
                success: function (data) {
                    $('#temp').text(Math.round(data.tempValue) + "°");
                    $('#humi').text(Math.round(data.humiValue) + "%");
                    $('#zoneTemp').text(Math.round(data.tempZoneValue) + "°");
                    $('#zoneHumi').text(Math.round(data.humiZoneValue) + "%");
                }
            });
        }

        function setColor(address, handle, color) {
            $.ajax({
                type: "POST",
                url: "http://192.168.1.37:8000/devices/setColor",
                data: { address: address, handle: handle, color: color  },
                dataType: "text"
            });
        }

        $(document).ready(function () {
            setInterval(function () { getMetric(); }, 10000);

            $('a.dropdown-item').click(function () {
                setColor($(this).parent().data("address"), $(this).parent().data("handle"), $(this).data("color"));
            });

        });

    </script>
}
